body
{
	text-align: center;
}
span
{
	font-size: 12px;
	color: rgb(195, 0, 255);
}
canvas
{
	background-image: linear-gradient( 68.4deg,  rgb(198, 99, 251) -0.4%, rgb(5, 250, 181) 100.2% );
	border-radius: 20px;
}
h3
{
	font-family: 'Rubik Moonrocks', cursive;
}
button 
{
	font-family: 'Oswald', sans-serif;
}
.btn-success:hover
{
	color:rgb(213, 232, 8)
}